:root {
    --accent: #FFCD3D;
    --white: #FFFCF5;
    --secondary: #3A436B;
    --dark: #38393B;
    --big-font: 'Poppins', sans-serif;
    --small-font: 'Encode Sans', sans-serif;
}

html,
html * {
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}

body {
    background-color: var(--white);
}

h1 {
    font-family: var(--big-font);
    font-size: 34pt;
}

h2 {
    font-family: var(--big-font);
    font-size: 22pt;
}

h3 {
    font-family: var(--big-font);
    font-size: 17pt;
}

h4 {
    font-family: var(--small-font);
    font-size: 12pt;
}

p {
    font-family: var(--small-font);
    font-size: 12pt;
}

input[type=search] {
    width: 311px;
    height: 36px;
    background-color: white;
    border: 1px solid black;
    border-radius: 18px;
    padding: 2em;
    margin-left: 50%;
    margin-right: auto;
    transform: translateX(-50%);
    font-family: var(--small-font);
    font-weight: 600;
}

.bottomNav {
    position: fixed;
    bottom: 0px;
    transform: translateY(-40%);
    width: 100%;
    background-color: var(--accent);
    height: 49px;
}

.bottomNav>ul>li {
    float: left;
    margin: 0px 19px 0px 19px;
}

.wrapper {
    padding: 1em;
}

.label {
    font-family: var(--small-font);
}

.backdrop {
    position: fixed;
    z-index: -100;
}

.backdropMargin {
    width: 100%;
    height: 50vh;
}

.QueryList {
    z-index: 1001;
    width: 100%;
    height: 100vh;
    background-color: white;
    border-radius: 36px 36px 0px 0px;
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.2);
}

.CardList {
    font-family: var(--small-font);
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin: 8px 0px 8px 0px;
}

.listWrapper {
    height: 60vh;
    overflow: scroll;
}


/* Flexes */

.flex-ccc {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}