{%load static%}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JakunKu</title>
    <!-- Poppins Semi -->
    <link href="https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@500;600;700&display=swap" rel="stylesheet">
    <link href="{%static 'main.css'%}" rel="stylesheet" type="text/css">
</head>


<body>
    <section class="backdrop">
        <div class="wrapper">
            <h1>Dashboard</h1>
            <br>

            <form>
                <input type="search" placeholder="Cari nama..">
                <input type="submit" style="visibility: hidden;">
                <!-- Cari  Jakun -->
                <label for="Cari Jakun" class="label"><h5>Cari Jakun:</h5></label>
                <input type="radio">
                <label for="Cari S">S</label>
                <input type="radio">
                <label for="Cari S">M</label>
                <input type="radio">
                <label for="Cari S">L</label>
                <input type="radio">
                <label for="Cari S">XL</label>
                <br>
                <br>
                <!-- Punya Jakun -->
                <label for="Cari Jakun" class="label"><h5>Punya Jakun:</h5></label>
                <input type="radio">
                <label for="Cari S">S</label>
                <input type="radio">
                <label for="Cari S">M</label>
                <input type="radio">
                <label for="Cari S">L</label>
                <input type="radio">
                <label for="Cari S">XL</label>
                <br><br>
                <!-- Fakultas -->
                <label for="Cari Jakun" class="label"><h5>Fakultas:</h5></label>
                <input type="search" placeholder="Fasilkom">
                <input type="submit" style="visibility: hidden;">
            </form>
        </div>
    </section>
    <div class="backdropMargin"></div>
    <nav class="bottomNav">
        <ul>
            <li>
                Dahsboard
            </li>
            <li>
                UkurJakun
            </li>
            <li>
                Notifikasi
            </li>
            <li>
                More
            </li>
        </ul>
    </nav>

    <section class="QueryList">
        <div class="wrapper">
            <h3 class="flex-ccc">Swipe me up!</h3>

            <h2>Jakun Tersedia</h2>
            <br><br>
            <div class="listWrapper">
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
                <div class="CardList wrapper">
                    <h4>Jace Solahudin</h4>
                    <p>Cari: S</p>
                    <p>Punya: M</p>
                    <p>Fakultas: Fasilkom</p>
                </div>
            </div>
            <h3 class="flex-ccc">Swipe me down!</h3>
        </div>

    </section>

</body>

</html>